.expense-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 375px;
    border: 2px solid var(--clr-orange);
    
    background-color: var(--clr-yellow);
}
.expense-item__description {
    display: flex;
    flex-direction: column;

}
.date{
    display: flex;
    gap: 5px;
    color: var(--clr-green);

}
.expense-item__price{
 font-size: 2rem;
 color: var(--clr-red);

}